h1 {
	color: #cccccc;
    text-align: center ;
}

h4 {
	color: #cccccc;
    text-align: center ;
}
img.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px; 
	width: 110px;
	}

	